 @import "tailwindcss";

 

 body{
    margin: 0;
    padding: 0;
     font-family: "Poppins", sans-serif;
 }

 .text-color{
    color: #4d633c;
 }
 
 .bg-color{
    background: #4d633c;
    color: white;
 }